@model List<WebNhanVien.Models.PhongBan>
@using WebNhanVien.Controllers

@{
    var name = ViewBag.Name;
    Layout = "StaffLayout";

}
<option selected>@ViewBag.Name</option>
@foreach (PhongBan pb in Model)
{
    if (@pb.ten_phong_ban != @ViewBag.Name)
    {
        <option id="phongban-@pb.id">@pb.ten_phong_ban</option>
    }

}